<div class="col-md-6 col-md-offset-3">
    <h2>Create Service Request</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" required />
            <div *ngIf="f.submitted && !title.valid" class="help-block">A title is required</div>
        </div>
        <div class="form-group">
            <label for="description">Start Time</label>
            <input type="time" class="form-control" name="starttime" [(ngModel)]="model.starttime" #starttime="ngModel" required />
            <div *ngIf="f.submitted && !starttime.valid" class="help-block">Start Time is required</div>
        </div>
        <div class="form-group">
            <label for="description">End Time</label>
            <input type="time" class="form-control" name="endtime" [(ngModel)]="model.endtime" #endtime="ngModel" required />
            <div *ngIf="f.submitted && !endtime.valid" class="help-block">End Time is required</div>
        </div>
        <div class="form-group">
            <label for="description">Date</label>
            <input type="date" class="form-control" name="date" [(ngModel)]="model.date" #date="ngModel" required />
            <div *ngIf="f.submitted && !date.valid" class="help-block">Date is required</div>
        </div>
        <div class="form-group">
            <label for="volunteersNeeded">Location</label>
            <input type="text" class="form-control" name="location" [(ngModel)]="model.location" #location="ngModel" required />
            <div *ngIf="f.submitted && !location.valid" class="help-block">Location is required</div>
        </div>
        <div class="form-group">
            <label for="volunteersNeeded">Volunteers Needed</label>
            <input type="number" class="form-control" name="volunteersNeeded" [(ngModel)]="model.volunteersNeeded" #volunteersNeeded="ngModel" required />
            <div *ngIf="f.submitted && !volunteers.valid" class="help-block">Volunteers needed is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Create</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/manager']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>