<div class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.firstName}}!</h1>
    <h2>All Service Requests:</h2>
    <ul>
        <li *ngFor="let serviceRequest of serviceRequests">
            <h3>{{serviceRequest.title}}</h3> 
            <p>Start Time: {{serviceRequest.starttime}}</p> 
            <p>End Time: {{serviceRequest.endtime}}</p>
            <p>Location: {{serviceRequest.location}}</p>
            <p>Volunteers Needed: {{serviceRequest.volunteersNeeded}}</p>
            - <a (click)="deleteServiceRequest(serviceRequest.id)">Delete</a>
        </li>
    </ul>
    <p><a [routerLink]="['/serviceForm']" class="btn btn-link">Create a Service Request</a></p>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>